<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<context:component-scan base-package="org.hisp.dhis.smsin.controller" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<!-- Users -->

	<bean id="users" class="org.hisp.dhis.smsin.beans.SMSUsers">
		<property name="users">
			<util:map map-class="java.util.HashMap">
				<entry key="Mortality" value="DiszpKrYNg8" />
				<entry key="4790733036" value="DiszpKrYNg8" />
			</util:map>
		</property>
	</bean>

	<!-- SMS Services -->

	<bean id="Mortality" class="org.hisp.dhis.smsin.beans.SMSServiceBean">
		<property name="serviceName">
			<value>Mortality</value>
		</property>
		<property name="dataSet">
			<value>pBOMPrpg1QX</value>
		</property>
		<property name="helpMessage"><value>Mortality A B C D E F G H I J K L M</value></property>
	    <property name="username"><value>admin</value></property>
		<property name="password"><value>district</value></property>
		<property name="dhisUrl"><value>http://apps.dhis2.org/dev</value></property>
		<property name="maps">
			<util:map map-class="java.util.HashMap">
				<entry key="A" value="FTRrcoaog83" />
				<entry key="B" value="LjNlMTl9Nq9" />
				<entry key="C" value="eY5ehpbEsB7" />
				<entry key="D" value="Ix2HsbDMLea" />
				<entry key="E" value="NpJtsQkMTm3" />
				<entry key="F" value="f7n9E0hX8qk" />
				<entry key="G" value="MSZuQ1mTsia" />
				<entry key="H" value="lXolhoWewYH" />
				<entry key="I" value="jVDAvs6kIAP" />
				<entry key="J" value="Vp12ncSU1Av" />
				<entry key="K" value="hM4ya5T2AqX" />
				<entry key="L" value="Yy9NtNfwYZJ" />
				<entry key="M" value="USBq0VHSkZq" />
				</util:map>
		</property>
	</bean>

	<bean id="IDSR" class="org.hisp.dhis.smsin.beans.SMSServiceBean">
		<property name="serviceName">
			<value>IDSR</value>
		</property>
		<property name="dataSet">
			<value>pBOMPrpg1QX</value>
		</property>
		<property name="helpMessage"><value>This command is not operational.</value></property>
	    <property name="username"><value>admin</value></property>
		<property name="password"><value>district</value></property>
		<property name="dhisUrl"><value>http://apps.dhis2.org/dev</value></property>
		<property name="maps">
			<util:map map-class="java.util.HashMap">
				<entry key="A" value="a1" />
				<entry key="B" value="b2" />
				<entry key="C" value="c3" />
			</util:map>
		</property>
	</bean>
	
	<bean id="smsprovider" class="org.hisp.dhis.smsin.beans.SMSProvider">
		<property name="username"><value>dhis</value></property>
		<property name="password"><value>d1!sm0b!</value></property>
		<property name="sender"><value>447797801306</value></property>
	</bean>
	
	<bean id="dhisapi" class="org.hisp.dhis.smsin.beans.DHISAPI">
	</bean>
	

</beans>