<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<context:component-scan base-package="org.hisp.dhis.smsin.controller" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<!-- BEWARE. This war file contains your DHIS username and password. -->
	<!-- This is a real security issue, both because people can read it in clear text AND because it forwards requests to DHIS, authenticating them.   -->
	
	<!-- This code takes your HTTP request, picks out the sender and message parameters from the GET url and forward these in an authenticated HTTP request to the server assigned below. -->

	<!-- These definitions are for specific forwarding rules. If you want one command forwarded to one server and another to another server, use these.  -->
	<!-- You can have several SMSServiceBean -->
	<!-- The below forwards for example http://localhost:8080/dhis-sms-in/sms?sender=1234&message=IDSR+abc to the URL http://apps.dhis2.org/mobile/sms/smsinput.action?sender=1234&message=IDSR+abc -->
	<bean id="SomeCommand" class="org.hisp.dhis.smsin.beans.SMSServiceBean">
		<property name="serviceName">
			<value>SomeCommand</value>
		</property>
	    <property name="username"><value>admin</value></property>
		<property name="password"><value>district</value></property>
		<property name="dhisUrl"><value>http://apps.dhis2.org/dev/sms/smsinput.action</value></property>
	</bean>
	
	<!--  This is the default forwarding route with user and password. If you want per-command forwarding rules, see above -->
	<bean id="dhisapi" class="org.hisp.dhis.smsin.beans.DHISAPI">
		<!--  
		<property name="username"><value>admin</value></property>
		<property name="password"><value>district</value></property>
		<property name="dhisUrl"><value>http://apps.dhis2.org/dev/sms/smsinput.action</value></property>-->
		
		<property name="username"><value>smsgw</value></property>
		<property name="password"><value>password</value></property>
		
		<property name="dhisUrl"><value>https://server-name/dhis/sms/smsinput.action</value></property>
	</bean>

</beans>